<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
    <img src="icone.png" alt="Midas" class="d-inline-block align-text-top" style="height:200px;">
</a>

    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!--<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="" target="_blank" 
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="counter" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Lançamentos
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="weather" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Projeções
            </a>
        </div>
    </nav>
</div>-->

